.home-container {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 6px;
  max-width: 768px;
  min-width: 468px;
}

.feed {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin-block-start: 1em;
  margin-block-end: 1em;

  border-radius: 6px;

  -webkit-box-shadow: 0px 0px 1px 1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 1px 1px rgba(204,204,204,1);
  box-shadow: 0px 0px 1px 1px rgba(204,204,204,1);
}

.content {

}
