$val:100%;
$pos:fixed;
$mg:8px;
$close: 22px;

.modal-container {
  // position: absolute;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: $pos;
  align-self: center;

  top: 30%;
  z-index: 2;

  width: 700px;
  height: 400px;

  border-radius: 4px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;

  background-color: #121212;
  color: #fff;
}

.modal-header {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}



.close-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;

  width:$close;
  height:$close;

  border-radius: 100%;

  margin-top: $mg;
  margin-right: $mg;
  cursor: pointer;

  z-index: 2;
}


.blur {
  position: $pos;
  height: $val;
  width: $val;
  z-index: 1;
  cursor: pointer;

  background-color: rgba(0, 0, 0, .5);
}
