ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items:stretch;
}

li {
  margin: 0.5em;
  padding: 0.5em;
}
